
.main-section{
    background:url(image/back.jpg) no-repeat;
    background-size:100% 100%;

    bottom:0px;
    top:0px;
    margin: 0px;
    position:absolute;
    width: 100%;
}
.user-login-header{
    margin-top: 15px;
}
.user-login-header h1{
    font-size: 45px;
    color:#fff;
}
.user-login-header p{
    color:#fff;
}
.user-login-header span{
    color:#fff;
    font-weight: 600;
}
.login-image-main{
    padding: 30px;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0 0 5px 0 #fff;
}

.user-login-box{
    padding:20px;
}
.user-login-box a,.user-login-box a:hover{
    background-color: #B56162;
    border:1px solid #B56162;
    width: 100%;
    color:#fff;
    font-weight:600;
}

